# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
/playwright-report
/test-results

# production
/.next
/out
/build

# misc
.DS_Store
.env*
!.env.example
*.log
.prisma

# prisma
dev.db
/dev.db-journal
/prisma/dev.db
/prisma/dev.db-journal
